* {
  box-sizing: border-box;
}


/* Defualt is 16px, 62.5% makes it where 1rem = 10px */
html {
  font-size: 62.5%; 
}


/* img {
 width: 300px;
} */

/* ------------------------------- Lesson 4-----------------------------

h1 {
  color: blue;
  text-decoration: underline;
  background-color: gold;
}


h2 {
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: solid 2px;
  border-color: orange;
}

section {
  width: 50%;
  height: 200px;
  background-color: gray;
  border: 3px  solid black;
  color: white;
}

footer {
 background-color: black;
 border: solid lightgreen;
 font-size: 20px;
 color: white;
 font-family: Roboto;
} 

*/

/* ------------------------ Learn With Leon Landing Page!! --------------------------- */

/* 
body {
  max-width: 45%;
  margin: auto;
  background-color: rgb(114, 200, 230);
  color: white;
 
}

.wrapper {
  border: 7px solid rgb(16, 198, 61);
  padding: 50px;
  margin: 20px;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

h2 { 
  font-weight: bold;
  font-size: 30px;
}

a {
  color:rgb(16, 198, 61);
  font-family: Roboto;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
}



span {
  content: "";
  border: 1px solid gray;
  margin-right: 5px;


}

img {
 width: 200px;
 float: right;
 margin: 0 5px 10px 10px;
}

p {
  font-size: 20px;
}


.clear {
  clear: both;
} */


/* ----------------------------- Leason 5 ---------------- */

/* li {
  color: blue;
  text-decoration: underline;
  font-size: 15px;
  background-color: gray;
}

section {
  height: 300px;
  background-color: purple;
  border: 5px solid gold;
}

h1 {
  font-size: 30px;
  color: gold;
  text-align: center;
  font-family: 'Source Sans Pro';
}

footer {
 background-color: brown;
 height: 300px;
 max-width: 70%;
}

h2 {
  text-decoration: line-through;
}
 */

/* ------------------------ RelationShip Practice ----------------------- */
 /* NO classes or IDs */
/* Please Make only World and Zebra Blue */
/* section > h2 {
  color: blue;

} */


/* Please Make only Zebra Purple */
/* section > h2 + h2 {
  color: purple;
} */


/* Please Make only Hufflepuff Gold */
/* section article > h2 + h2 {
  color: gold;
}  */



/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */

/* section article > h2 {
  color: gray;
} */




/* Please Make only Rhino and Zebra Blue */
/* .africa {
  color: blue;
} */

/* Please Make only Hufflepuff Gold */
/* #bestHouse {
  color: gold;
} */


/* Please select Duck with the highest level of specificity possible */

/* .likesToQuack{
 color: red;
}  */

/* Please select Rhino with the highest level of specificity possible */

/* .top, #rhino {
  color: orange;
} */

/* .section {
  float: left;
  width: 33.3333%;
} */


/* <!-- ------------------------- Practice Floats Layout 1 -------------------------- --> */


/* header, footer {
  height: 60px;
}

.section {
  border: 3px solid black;
}

.box1, .box2, .box3 {
  height: 130px;
  float: left;
  width: 33.3333%;
}

.box4, .box5 {
  height: 170px;
}


.box4{
  clear: both;
  float: left;
  width: 50%;
}

.box5 {
  float: right;
  width: 50%;
}

footer {
  clear: both;
}

p {
  margin: 0px;
} */


/* <!-- ------------------------- Practice Floats Layout 2 -------------------------- --> */

/* header, .one, footer {
  border: 3px solid black; 
}

header, footer {
  height: 100px;
}

p{
  margin: 0;
}

.box1 {
  height: 120px;
}

.box2 {
  float: left;
  width: 40%;
  height: 160px;
}

.box3 {
  float: right;
  width: 60%;
  height: 160px;
}

footer{
  clear:both;
} */


/* <!-- ------------------------- Practice Floats Layout 3 -------------------------- --> */

/* header, section, footer {
  border: 3px solid black;
}

header, footer{
  height: 120px;
}


section {
  float: left;
  height: 400px;
}

.section1, .section3, .section4 {
  width: 20%;
}

.section2 {
  width: 40%;
}



footer {
  clear: both;
} */

/* <!-- ------------------------- Lesson 6 Prictice -------------------------- --> */


/* Please make the anchor tags gold, 20px, and have a purple background */

/* a {
  color: gold;
  font-size: 20px;
  background-color: purple;
} */


/* Please make the section have a height of 200px, a 10px thick blue border, and a light orange background */

/* section {
  height: 200px;
  border: 10px solid blue;
  background-color: orange;
} */


/* Please make the aside have a height of 300px, a thin red border, and a teal background  */

/* aside {
  height: 300px;
  border: 2px solid red;
  background-color: teal;
} */


/* Please make the aside paragraph have white text, 18px, and a red underline */

/* aside p {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: red;
} */




/* NO classes or IDs */

/* Please make only "Just kidding!" yellow */

/* section h2 {
  color: yellow;
} */


/* Please make only "twitter" red and 20px */

/* aside a {
  color: red;
  font-size: 20px;
} */



/* Please make "Really hot" purple & "Like WILD hot" larger and blue  */

/* article > h2 {
  color: purple;
} */

/* article h2 + h2 {
  font-size: 50px;
  color: blue;
} */


/* Please make only bob and pizza green */

/* nav ul + ul li  a {
  color: green;
} */




/*/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
/* header + section aside.extraExtraReadAllAboutIt h3{
  color: blue;
} */


/* Please make "I like turtles." red */

/* section#changedIt h2 {
  color: red;
} */

/* Please select "Hello, world!" with the highest level of specificity possible*/

/* header + section#rugratsWildThornberrysBestCrossOverAllTime h2 {
  color: orange;
} */



/* Please select "Let's get down to business..." with the highest level of specificity possible */
 
/* section + section#changedIt p.passTheRemote.turtles {
  color: purple;
}
*/

/* <!-- -------------------- Lesson 7 Practice (Box Model) ---------- --> */

/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */

h1 {
  padding: 0 5px 5px 5px;
  margin-top: 5px;
  background-color: blueviolet;
  color: lightblue;
}


/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
			
h2 {
  padding: 15px 0;
  border-top: 2px solid darkgreen;
  border-bottom: 2px solid darkgreen;
  background-color: orange;
}


/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
			
section {
  border:10px solid darkblue;
  height: 300px;
  margin-top: 400px;
}


/* Please make the spans have thin yellow borders and equal padding / margin on all sides */

span {
  border:2px solid yellow;
  padding: 5px;
  margin: 5px;
}



